body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Lora", "Times New Roman", Times, serif;
}

.connecting {
  text-align: center;
}

.connecting__title {
  font-weight: 600;
}

.hidden {
  display: none;
}

.menu__logo {
  margin-left: -5em;
}

.menu__title {
  margin-top: -0.2em;
}

.menu ul {
  padding-left: 1.5em;
  margin-top: -0.2em;
}

.menu__song-button {
  background: none;
  border: none;
  text-decoration: underline;
  font-size: 1.3rem;
  font-family: "Lora", "Times New Roman", Times, serif;
}

.game {
  display: grid;
  gap: 1em 0.5em;
  grid-template-columns: 1fr auto;
}

.game__canvas {
  border: 0.15em solid black;
  grid-column: 1/3;
}

.game__text {
  margin: 0;
  font-weight: 500;
}

.game__score {
  margin: 0;
}
